*.iml
.gradle
.gradle-home/
.android-home/
.kotlin/
.idea/
/local.properties
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.jks
*.keystore
/release/
/caches/
/daemon/
/native/
/wrapper/
/kotlin-profile/
/android/
debug_out.txt
*.pdf
